[user]
	name = Pedro Januário
	email = prnjanuario@gmail.com
[web]
  browser = google-chrome
[merge]
	keepbackup = false
	tool = diffmerge
[cola]
	savewindowsettings = false
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
  autocrlf = input
	compression = 9
[alias]
  tagcommit = !sh -c 'git rev-list $0 | head -n 1'
